* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Georgia, Times, 'Times New Roman', serif, Arial, sans-serif;
    font-size: large;
    color: antiquewhite;
  }
  
  body {
    background-color: darkslategrey;
  }